[submodule "Homework_1"]
	path = Homework_1
	url = https://github.com/LinaTrukanaviciute/Homework_1.git
[submodule "Homework_2"]
	path = Homework_2
	url = https://github.com/LinaTrukanaviciute/Homework_2.git
[submodule "Homework_3"]
	path = Homework_3
	url = https://github.com/LinaTrukanaviciute/Homework_3.git
[submodule "Homework_4"]
	path = Homework_4
	url = https://github.com/LinaTrukanaviciute/Homework_4.git
[submodule "QA_Automation"]
	path = QA_Automation
	url = https://github.com/LinaTrukanaviciute/QA_Automation
[submodule "QA_Module_3_Final_Project"]
	path = QA_Module_3_Final_Project
	url = https://github.com/LinaTrukanaviciute/QA_Module_3_Final_Project
